### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Desktop.ini
ehthumbs.db
Thumbs.db

### SublimeText ###
*.sublime-project
*.sublime-workspace

### VSCode ###
.history
.vscode

### IntelliJ ###
.idea

### node_modules ###
node_modules/

### Build artifacts ###
/build/*
!/build/.gitkeep

### Chromium Embedded file ###
/packages/shell/chromium/chromium-*.zip
/packages/shell-2/chromium/chromium-*.zip

### Chromium directory ###
/chromium/*
!/chromium/.gitkeep

### Content directory ###
/content/*
!/content/.gitkeep

### Runtime environment ###
/shell.json
*.env
*.lock
*.pid
*.seed

### Logs ###
*.log

### Temporary files ###
*.tmp
*.bak
._*